<!DOCTYPE html>
<html>
<head>
  <title>Blogkata</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'View Blog Posts', posts_path %></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
