<!DOCTYPE html>
<html>
<head>
  <title>Blogkata</title>
  <%= stylesheet_link_tag    "reset", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
    <div id="image">
      <%=image_tag "me.jpg"%>
    </div>
    <div id="tagline">
      <center><p>A Software Developer with experience in C# and automated testing working @ Microsoft.</p></center>
    </div>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if User.find_by(id: session[:user_id]) %>
        <li><%= link_to 'Post Admin', posts_path %></li>
        <li><%= link_to 'User Admin', users_path %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: "Are you sure you want to logout?",
                                                                        title: "Confirm logout" } %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %>
      <% end %>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
